{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card shadow mb-4">
      <div class="card-header bg-primary">
        <h4>{% trans "Sign Out" %}</h4>
      </div>
      <div class="card-body">
        <p class="card-text">{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="btn btn-primary-outline">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
