{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<p>
  <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
<p>
{% endfor %}
{% endif %}
<p>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn btn-primary btn-user btn-block btn-sm text-white" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</p>
{% endfor %}
