{% for b in base %}
    <div class="card m-1">
        <div class="card-header p-2 text-primary">
            <h5>{{b.name}} Contact</h5>
        </div>
        <div class="card-body d-flex flex-wrap justify-content-center">

            <a href="tel: +{{b.site_contacts.site_number}}" class="m-2 small">
                <div class="icon-circle bg-success text-white" style="font-size: 16px;">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>Call</a>
                <a href="sms: +{{b.site_contacts.sms}}" class="m-2 small">
                    <div class="icon-circle bg-success text-white" style="font-size: 16px;">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>Send SMS
                </a>
                <a href="{{b.site_contacts.whatsapp}}" class="m-2 small">
                    <div class="icon-circle bg-success text-white" style="font-size: 16px;">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                    </div> whatsapp
                </a>
                <a href="{{b.site_contacts.facebook_page}}" class="m-2 small">
                    <div class="icon-circle bg-primary text-white" style="font-size: 16px;">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </div> Facebook</a>
                <a href="{{b.site_contacts.facebook_direct_message}}" class="m-2 small">
                    <div class="icon-circle bg-primary text-white" style="font-size: 16px;">
                        <i class="fab fa-facebook-messenger" aria-hidden="true"></i>
                    </div> Messanger
                </a>
                <a href="{{b.site_contacts.twitter}}" class="m-2 small">
                    <div class="icon-circle bg-primary text-white" style="font-size: 16px;">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </div> Twitter
                </a>
                <a href="mailto: {{b.site_contacts.email}}" class="m-2 small">
                    <div class="icon-circle bg-danger text-white" style="font-size: 16px;">
                        <i class="fas fa-mail-bulk" aria-hidden="true"></i>
                    </div>Send Mail
                </a>
                <a href="{{b.site_contacts.youtube}}" class="m-2 small">
                    <div class="icon-circle bg-danger text-white" style="font-size: 16px;">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </div>Youtube
                </a>
                <a href="{{b.site_contacts.instagram}}" class="m-2 small">
                    <div class="icon-circle bg-danger text-white" style="font-size: 16px;">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </div> Instagram
                </a>
                <a href="{{b.site_contacts.location}}" class="m-2 small">
                    <div class="icon-circle bg-dark text-white" style="font-size: 16px;">
                        <i class="fas fa-location-arrow" aria-hidden="true"></i>
                    </div>Location
                </a>
        </div>
    </div>
{% endfor %}