<!-- Footer -->
{% load static%}
<footer class="bg-dark py-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6">
              <h5 class="text-primary">55Auction</h5>
            <p><a class="text-light" href="">About Us</a></p>
            <p><a class="text-light" href="">Services</a></p>
            <p><a class="text-light" href="{% url 'contact' %}">Contact Us</a></p>
            <p><a class="text-light" href="">Subscribe</a></p>
            <p><a class="text-light" href="">Join Our Staff</a></p>
              <button type="button" class="btn btn-sm btn-primary" onClick="history.back()"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
              <button class="btn btn-sm btn-primary m-2" onclick="history.forward()">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
          </div>
          <div class="col-sm-6">
            <h5 class="text-primary">55Auction Services</h5>
            <p><a class="text-light" href="">55Auction Blog</a></p>
            <p><a class="text-light" href="">E-School</a></p>
            <p><a class="text-light" href="">E-comerce</a></p>
            <p><a class="text-light" href="">Cv Generator</a></p>
            <p><a class="text-light" href="maito:theprogrammerjeff@gmail.com">E-Help and Support</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <figure class="text-center">
        <img src="{% static 'img/Smart Tech.gif' %}" alt="..." class="img-fluid" style="border: none;" title="{{basic.name}}">
        <figcaption>
          <a class="text-light ml-2" href="tel:+254795067776">Call</a> <a class="text-light ml-2" href="mailto:55Auction.allservices@gmail.com">Send Mail</a><a class="text-light ml-2" href="sms:+254795067776">Send Sms</a>
        </figcaption>
      </figure>
  </div>
    </div>
  </div>
    <div class="container">
      <p class="m-0 text-center text-primary-1 t-h">Copyright &copy; 55Auction - {% now "Y" %}</p>
    </div>
    <!-- /.container -->
  </footer>