  <!-- Nav Item - Messages -->
{%load static%}
{%if user.is_authenticated %}
<nav class="navbar navbar-expand navbar-light bg-light mb-3 topbar static-top shadow justify-content-center" style="width: 50px; height: 50px; border-radius:50%; float:right; bottom: -100px; z-index:5;">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-facebook"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">2</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'img/je.jpg' %}"
                            alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate ">Thanks for ...</div>
                        <div class="small text-gray-500 small">The Programmer · now</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'img/jeff.jpg' %}"
                            alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Hello,contact... </div>
                        <div class="small text-gray-500 small">Jeff Odhis · now</div>
                    </div>
                </a>

                <a class="dropdown-item text-center small text-gray-500 small" href="">Read More Messages</a>
            </div>
        </li>
    </ul>
</nav>
{%endif%}