<!-- Search Widget -->
<div class="card my-4">
    <h5 class="card-header t-h">Search</h5>
    <div class="card-body">
        <form action="" method="get">
            <div class="input-group">
                <input type="search" class="form-control" name="query" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i>Go !</button>
            </span>
        </div>
        </form>
    </div>
</div>